.btn {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 20px;
}

.input-group-container {
  display: flex;
  padding: 5px;
}
